export(get_encoding)
export(get_encoding_for_model)
export(list_encoding_names)
export(tt_version)
export(encode)
export(decode)
export(count_tokens)
export(is_within_token_limit)
export(encode_chat)
export(count_chat)
export(encode_file_path)
export(count_file_path)
export(is_file_path_within_token_limit)

useDynLib(turbotoken, .registration = TRUE)
